<!DOCTYPE html>
<html>
    <head>
        <title>SkiResort</title>  
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="icon" href="../../assets/favicon.ico">
        <script src="https://use.fontawesome.com/425e1130da.js"></script>
    </head>

    <body>

    <nav style="background:#0275d8" class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle navbar-light collapsed " style="color:black" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand font-weight-bold" href="/" style="color:black">SkiResort</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= typeof page !== 'undefined' && page === 'resorts' ? 'active' : '' %>"><a href="/resorts" onMouseOver="this.style.background='#fffb02ca'" onMouseOut="this.style.background='#0275d8'" style="color: black">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <% if(!currentUser){ %>
                  <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login" onMouseOver="this.style.background='#fffb02ca'" onMouseOut="this.style.background='#0275d8'" style="color: black">Login</a></li>
                  <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register" onMouseOver="this.style.background='#fffb02ca'" onMouseOut="this.style.background='#0275d8'" style="color: black">Sign Up</a></li>
              <% } else { %>
                  <li><a onMouseOver="this.style.background='#fffb02ca'" onMouseOut="this.style.background='#0275d8'" style="color:black">Signed In As <%= currentUser.username %></a></li>
                  <li><a href="/logout" onMouseOver="this.style.background='#fffb02ca'" onMouseOut="this.style.background='#0275d8'" style="color:black">Logout</a></li>
              <% } %>
          </ul>
        </div>
    </div>
</nav>
    
    <div class="container">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div>

    <div class="container">
    